<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Category</th>
      <th>Shop</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @path.id %></td>
      <td><%= @path.name %></td>
      <td><%= @path.shop.name %></td>
    </tr>
  </tbody>
</table>